{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}

<article>
        <h2>{{articleSolo.title}}</h2>
        <div class="metadata">Ecrit le {{articleSolo.createdAt | date('d/m/Y') }} à {{ articleSolo.createdAt |  date('H:i') }} dans a categorie : Monter son home studio en 5 étapes</div>
        <div class="content d-flex mt-2">
            <img src="{{ articleSolo.image }}" alt="" class="">
            <p class="px-3 d-flex align-items-center"> {{ articleSolo.content | raw | capitalize }}</p>
            
        </div>
    </article>


{% endblock %}
